:root {
	--primary-clr: #6418c3;
	--primary-clr-100: #F6EEFF;
	--vazir-font: Vazirmatn RD;
	--gray-clr-100: #f9f9f9;
	--gray-clr-200: #eeeeee;
	--gray-clr-300: #dfdfdf;
	--overlay-bg-clr-300: hsla(0, 0%, 87%, 0.596);
	--gray-clr-800: #393e46;
	--gray-clr-900: #333333;
	--gray-clr-500: #929aab;
	--dark-blue: #474f85;
	--red-clr-100: #ffebeb;
	--red-clr-800: #f23557;
  --yellow-clr-100:#ffebb7;
  --yellow-clr-800:#ff8b00;
  --green-clr-500:#22C55E;
}
html {
	font-size: 62.5%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar{
	display: none;
}
body {
	font-family: var(--vazir-font);
	font-size: 1.5rem;
	direction: rtl;
	background: var(--gray-clr-200);
}
.hidden{
	display: none !important;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	display: block;
	max-width: 100%;
}
svg {
	width: 30px;
	height: 30px;
	fill: var(--gray-clr-300);
	color: var(--gray-clr-300);
}
button,
input,
select,
details,
option,
del,
sub,
sup {
	font: inherit;
}
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 2rem;
	gap: 0.5rem;
	font-size: 1.3rem;
	border: none;
	outline: none;
	text-wrap: nowrap;
	border-radius: 2rem;
	cursor: pointer;
}
.btn.primary{
  color: var(--gray-clr-100);
  background: var(--primary-clr);
}
button{
  cursor: pointer;
}
